{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "babelOptions": "./babel.config.js"
  },
  "extends": "standard",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-unused-vars": "off"
  }
}
